<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-7">
      <h1>COVID19 Summary</h1>
      <p>As the number of confirmed COVID-19 coronavirus cases in the United Kingdom continues to increase, this regularly updated map tracks the spread of the virus throughout the country. Government data shows that the largest amount of cases are still in London which has so far recorded 27,063. In total 281,661 people in the UK have been diagnosed with the virus and at least 39,904 people have died with a Covid-19 diagnosis across the country</p>
     
      <div class="panel panel-default">
<data-table (notifyParent)="getNotification($event)"></data-table>  
      </div>
    </div>

    <div class="col-sm-5">
      <h5>{{country}} / overview</h5>
      <br><br>
      <br><br>
          <pie-chart></pie-chart> 
      <br><br>
      <br><br>
      <button type="button" class="btn" (click)="clear()">CLEAR SELECTED COUNTRY</button>
      <br><br>  
    </div>
  </div>
</div>

<footer class="container-fluid">
    <div class="col-md-2">
       <P>CONTACT US</P>
      </div>
      <div class="col-md-4">     
          <dl class="contact-list">
            <p>+44 123 123 123</p>
            <p>covid19@mail.com</p>
          </dl>   
      </div>
  <div class="col-md-6">
  <p>COVID19 Summary 2020</p>
  </div>
</footer>

